@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-secondary;
}

.coleccion-post h2 {
  @apply text-3xl;
}

.coleccion-post-text p:not([class]) {
  @apply desktop:w-3/6;
  margin: 0 auto 2rem;
  line-height: 1.75rem;
}

.coleccion-post h2:not([class]),
h1:not([class]) {
  @apply text-xl font-bold desktop:w-3/6;
  margin: 0 auto 0.5rem;
}

.coleccion-post h3:not([class]) {
  @apply font-bold text-4xl mb-10 mt-20;
}

.coleccion-post video {
  object-fit: contain;
  overflow: clip;
}

.coleccion-post a:not([class]) {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.coleccion-post a:hover {
  text-decoration: none;
}

.debug {
  border: 1px solid red;
}

.debug-1 {
  border: 2px solid blue;
}

.debug-3 {
  border: 2px solid greenyellow;
}

img.image-teaser {
  @apply w-full h-auto tablet:w-[250px] tablet:h-[250px] tablet:object-cover;
}

@layer utilities {
  .in-row {
    @apply tablet:mt-40 tablet:pr-5;
  }
}

.list-teaser h2:hover {
  @apply text-primarycolor transition
}



