@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-secondary;
}

html {
  scroll-behavior: smooth;
}

.coleccion-post h2 {
  @apply text-3xl;
}

.coleccion-post-text p:not([class]) {
  @apply desktop:w-3/6;
  margin: 0 auto 2rem;
  line-height: 1.75rem;
}

.coleccion-post h2:not([class]),
h1:not([class]) {
  @apply text-xl font-bold desktop:w-3/6;
  margin: 0 auto 0.5rem;
}

.coleccion-post h3:not([class]) {
  @apply font-bold text-4xl mb-10 mt-20;
}

.coleccion-post video {
  object-fit: contain;
  overflow: clip;
}

.coleccion-post a:not([class]) {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.coleccion-post a:hover {
  text-decoration: none;
}

.debug {
  border: 1px solid red;
}

.debug-1 {
  border: 2px solid blue;
}
.debug-2 {
  border: 1px solid olivedrab;
}

.debug-3 {
  border: 2px solid greenyellow;
}

img.image-teaser {
  @apply w-full h-auto tablet:w-[395px] tablet:h-[320px] tablet:object-cover;
}

.container-center {
  @apply w-full tablet:w-[750px] mx-auto;
}

img.image-teaser-inverted {
  @apply w-full h-auto tablet:w-[100%] tablet:h-[320px] tablet:object-cover;
}

img.image-teaserfull {
  @apply w-full h-auto tablet:object-cover;
}

.break-line br {
  @apply hidden desktop:inline;
}

@layer utilities {
  .in-row {
    @apply tablet:mt-40 tablet:pr-5;
  }
}

.list-teaser:hover h2 {
  @apply text-primarycolor transition;
}

.teaser-description p {
  @apply mb-4;
}

.article-storybg {
  background: linear-gradient(180deg, rgba(62, 62, 83, 1) 51%, rgba(56, 56, 72, 1) 100%);
}

.article-storybg-inverse {
  background: #22223c;
}

body {
  @apply bg-white;
}

a.link-prim:hover svg {
  transform: translate(8px, 0);
  fill: rgb(235 84 130);
}

a.link-prim svg {
  transition: all 0.5s;
}
